{% extends "homepage/base.html" %}
{% load static %}


{% block title %}Home{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block js %}
<script src="{% static 'js/submit.js' %}"></script>
<script src="{% static 'js/parser.js' %}"></script>
{% endblock %}


{% block content %}
    <div id="search-div" class="container">
        <div class="row">
            <div class="col-3"></div>
            <div id="search-contents" class="col-9">
                <div class="input-group mb-3 w-75">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-primary" type="button" onclick="submit_url();">Fetch Metrics!</button>
                    </div>
                    <input id="search-box" type="text" class="form-control" maxlength="60" placeholder="Enter Twitch or YouTube VOD URL">
                </div>
            </div>
        </div>

        <br><br><br>

        <div id="tooltips" class="row">
            <div class="col-4">
            </div>
            <div class="col-8">
                <p>How to submit a URL and interact with the visualizations:</p>
                <ul>
                    <li>Twitch URLs should be in the format: https://www.twitch.tv/videos/1234567890</li>
                    <li>YouTube URLs should be in the format: https://www.youtube.com/watch?v=123456AbCdEf</li>
                    <li>Hold ctrl and left click a marker to open a tab at the selected timestamp in the VOD</li>
                    <li>Click the house button on the visualizations to reset the zoom level</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 loader" style="display: none;"></div>
            <div class="col-4"></div>
        </div>
    </div>

    <!-- All VOD information (On Visualization Success) Goes Here -->
    <div class="vod-data">

        <!-- Twitch or Youtube Goes Here -->
        <div id="vod-header" class="container d-flex justify-content-left">
        </div>

        <!-- Visualizations go in these divs -->
        <div id="funny_emotes" class="container d-flex justify-content-center visual">
        </div>

        <div id="emote_or_not_messages_per_second" class="container d-flex justify-content-center visual">
        </div>

        <div id="sub_or_not_messages_per_second" class="container d-flex justify-content-center visual">
        </div>

        <div id="messages_per_user" class="container d-flex justify-content-center visual">
        </div>

        <div id="emote_by_usage" class="container d-flex justify-content-center visual">
        </div>

        <div id="num_sub_vs_not_sub" class="container d-flex justify-content-center visual">
        </div>

        <div id="subscriber_durations" class="container d-flex justify-content-center visual">
        </div>

        <div id="" class="container d-flex justify-content-center visual">
        </div>

    </div>

    
{% endblock %}